<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <display-name>BorgWeb</display-name>
   <context-param>
    	<param-name>dburl</param-name>
		<param-value>jdbc:mysql://localhost/borg?user=borg&amp;password=borg&amp;autoReconnect=true</param-value>
    </context-param>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
    	<param-name>config</param-name>
		<param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/common/error.jsp</location>
  </error-page>

    <security-constraint>
    <web-resource-collection>
      <web-resource-name>Common pages</web-resource-name>
      <url-pattern>/index.jsp</url-pattern>
      <url-pattern>/mainmenu.do</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>borg_admin</role-name>
      <role-name>borg_user</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>User pages</web-resource-name>
      <description>Resources to be placed under security control.</description>
      <url-pattern>/addr/*</url-pattern>
      <url-pattern>/task/*</url-pattern>
      <url-pattern>/appt/*</url-pattern>
      <url-pattern>/user/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>borg_user</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Admin pages</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>borg_admin</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  

  

  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>WebApp</realm-name>
    <form-login-config>
      <form-login-page>/common/login.jsp</form-login-page>
      <form-error-page>/common/badlogin.jsp</form-error-page>
    </form-login-config>
  </login-config>

  <security-role>
    <role-name>borg_user</role-name>
    <role-name>borg_admin</role-name>
  </security-role>
  
  

</web-app>
