build/
borghelp/
dist/
*.class
classes/
target/
bin/
LICENSE.txt
/.idea/
*.iml
/desktop.ini
*.msi
/BORGCalendar/.project
/BORGCalendar/.settings/org.eclipse.core.resources.prefs
/BORGCalendar/.settings/org.eclipse.m2e.core.prefs
/BORGCalendar/common/.project
/BORGCalendar/common/.settings/org.eclipse.core.resources.prefs
/BORGCalendar/common/.settings/org.eclipse.jdt.core.prefs
/BORGCalendar/common/.settings/org.eclipse.m2e.core.prefs
/BORGCalendar/install/.project
/BORGCalendar/install/.settings/org.eclipse.core.resources.prefs
/BORGCalendar/install/.settings/org.eclipse.jdt.core.prefs
/BORGCalendar/install/.settings/org.eclipse.m2e.core.prefs
/BORGCalendar/model/.project
/BORGCalendar/model/.settings/org.eclipse.core.resources.prefs
/BORGCalendar/model/.settings/org.eclipse.jdt.core.prefs
/BORGCalendar/model/.settings/org.eclipse.m2e.core.prefs
/BORGCalendar/swingui/.project
/BORGCalendar/swingui/.settings/org.eclipse.core.resources.prefs
/BORGCalendar/swingui/.settings/org.eclipse.jdt.core.prefs
/BORGCalendar/swingui/.settings/org.eclipse.m2e.core.prefs
