
<style type="text/css">
<!--
/******************************************/


html, body {
    background: #FFFFCC;
    font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}

a:link, a:visited {
    color: #000099;
}
a:hover, a:focus {
    color: blue;
}

button.Button, input.Button {
    background: #E0F0F0;
    border: 1px solid #999999;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer; 
    cursor: hand;  
}

table {
	background: #FFFFCC;
}

table.border {
    border-collapse: collapse;
    border: 1px solid #999999;
    background: #F0F0F0;
}

table.border tr th {
    background: #E0EEF0;
    border-bottom: 1px solid #AAAAAA;
    text-align: center;
    padding: 1px;
    font-weight: normal;
    color: #0033FF;
    white-space: nowrap;
}

table.border tr.oddRow td {     
	background: #F0F0F0;
} 
table.border tr.evenRow td {
    background: #FFFFFF;
}

table.month {
    border-collapse: collapse;
    border: 1px solid #000000;
}

table.month tr th {
    background: #E0EEF0;
    border-bottom: 1px solid #999999;
    border-right: 1px solid #999999;
    text-align: center;
    padding: 1px;
    font-weight: normal;
    color: #0033FF;
    white-space: nowrap;
}

table.month tr td {     
	background: #F0F0F0;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
    text-align: left;
    vertical-align: top;
    padding: 1px;
    font-weight: normal;
    color: #000000;
} 

P.title {
	text-align: center;
	font-size: 18pt;
}

a.appt {
	font-size: 8pt;
}

P.appt {
	font-size: 8pt;
}

P.date {
	text-align: right;
}
-->
</style>
